<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='/common/css/login.css') }}" rel="stylesheet">
    <title> LOGIN </title>
</head>
<body>
<div class="container">
    <div class="box">
        <div class="content">
            <h1>NaN Library</h1>
            <div class="form-control" style="position: absolute; top: 125px">
                <input class="input input-alt" placeholder="Username" required="" type="text">
                <span class="input-border input-border-alt"></span>
            </div>
            <div class="form-control" style="position: absolute; top: 200px">
                <input class="input input-alt" placeholder="Password" required="" type="password">
                <span class="input-border input-border-alt"></span>
            </div>
            <label class="cyberpunk-checkbox-label" style="position: absolute; top: 280px; left: 80px">
                <input type="checkbox" class="cyberpunk-checkbox">
                Remember Me
            </label>
            <button class="learn-more" style="position: absolute; top:340px;">
              <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
              </span>
                <span class="button-text" style="position: absolute; left: -33px">Sign In</span>
            </button>
            <button class="learn-more scalex" style="position: absolute; top:400px;">
              <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
              </span>
                <span class="button-text scalex" style="position: absolute; left: -33px">Sign Up</span>
            </button>

        </div>
    </div>
</div>
</body>
</html>