<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='/common/css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://coscdn.htmlpage.cn/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://coscdn.htmlpage.cn/html-template/assets/css/page.min.css"/>
    <title> 首页 </title>
</head>
<body>
<header data-block-type="headers" data-id="1" class="fp-active">
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a href="{{ url_for('main') }}" class="navbar-brand"></a>
            <button type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1"
                    aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">Send
            </button>
            <div id="navbarNav1" class="collapse navbar-collapse">
                <div id="i29qv" class="c15889">Dreams Library
                </div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    </li>
                    <li class="nav-item">
                    </li>
                    <a href="{{ url_for('main') }}" class="nav-link">首页 <span class="sr-only">(current)</span></a>
                    <li class="nav-item">
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end d-none d-lg-flex ml-md-auto">
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/AXuanCreator/Flask-Web" class="nav-link">Github</a>
                    </li>
                </ul>
                <a href="{{ url_for('user.user_login') }}" class="btn btn-empty ml-md-3">登陆</a>
                <a href="{{ url_for('user.user_register') }}" class="btn btn-empty ml-md-3">注册</a>
            </div>
        </nav>
    </div>
</header>
<div class="htmlpage-row">
    <div class="htmlpage-cell">
    </div>
    <div class="htmlpage-cell">
    </div>
</div>
<div class="htmlpage-row" id="iyvek">
    <div class="htmlpage-cell">
        <input type="text" id="i58pz" name="search" placeholder="搜索书籍..."/>
    </div>
</div>
</body>