<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='/common/css/reset-password.css') }}" rel="stylesheet">
    <title> Enter Your Mail </title>
</head>
<body>
<div class="container">
    <div class="box">
        <div class="content">
            <h1>Dreams Library</h1>
            <form action="{{ request.path }}" method="post">

                <div class="form-control" style="position: absolute; top: 130px; left:40px">
                    <input class="input input-alt" style="width: 90%" placeholder="Password" required="" type="password"
                           name="password">
                    <span class="input-border input-border-alt"></span>
                </div>
                <div class="form-control" style="position: absolute; top: 230px; left:40px">
                    <input class="input input-alt" style="width: 90%" placeholder="Password Again" required="" type="password"
                           name="repassword">
                    <span class="input-border input-border-alt"></span>
                </div>

                <button type="submit" style="position: absolute; top: 410px; left:75px; width: 300px">
                    <div class="button_2">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                >
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path
                                            fill="currentColor"
                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                    ></path>
                                </svg>
                            </div>
                        </div>
                        <span>重置</span>
                    </div>
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>