<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='/common/css/update.css') }}" rel="stylesheet">
    <title> Update Info </title>
</head>
<body>
<div class="container">
    <div class="box">
        <div class="content">
            <h1>Dreams Library</h1>
            <div>
                <div class="display" data-text="Awesome" style="position: absolute; top: 130px; left: 110px">
                    <span class="actual-text">&nbsp;Username&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;Username&nbsp;</span>
                </div>
                <div class="display" data-text="Awesome" style="position: absolute; top: 210px; left: 110px; --animation-color: #ff6b6b;">
                    <span class="actual-text">&nbsp;Name&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;Name&nbsp;</span>
                </div>
                <div class="display" data-text="Awesome" style="position: absolute; top: 290px; left: 110px; --animation-color: #ffabab;">
                    <span class="actual-text">&nbsp;Phone&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;Phone&nbsp;</span>
                </div>
                <div class="display" data-text="Awesome" style="position: absolute; top: 370px; left: 110px; --animation-color: #ffe9e9;">
                    <span class="actual-text">&nbsp;Mail&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;Mail&nbsp;</span>
                </div>
                <div class="display" data-text="Awesome" style="position: absolute; top: 450px; left: 110px; --animation-color: #ffffff;">
                    <span class="actual-text">&nbsp;Gender&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;Gender&nbsp;</span>
                </div>
            </div>

            <form action="{{ url_for('user.user_info', id=id) }}" method="post">
                <div>
                    <div class="form-control" style="position: absolute; top: 120px; left: 400px">
                        <input class="input input-alt" value="{{ username }}" required="" type="text" name="username">
                        <span class="input-border input-border-alt"></span>
                    </div>
                    <div class="form-control" style="position: absolute; top: 200px; left: 400px">
                        <input class="input input-alt" value="{{ name }}" required="" type="text" name="name">
                        <span class="input-border input-border-alt"></span>
                    </div>
                    <div class="form-control" style="position: absolute; top: 280px; left: 400px">
                        <input class="input input-alt" value="{{ phone }}" required="" type="text" name="phone">
                        <span class="input-border input-border-alt"></span>
                    </div>
                    <div class="form-control" style="position: absolute; top: 360px; left: 400px">
                        <input class="input input-alt" value="{{ mail }}" required="" type="text" name="mail">
                        <span class="input-border input-border-alt"></span>
                    </div>
                    <div class="form-control" style="position: absolute; top: 440px; left: 400px">
                        <input class="input input-alt" value="{{ gender }}" required="" type="text" name="gender">
                        <span class="input-border input-border-alt"></span>
                    </div>
                </div>
                <button style="position: absolute; top:230px; left: 800px" type="submit">
                    编辑完成！
                </button>

            </form>
            <span style="position: absolute; top:520px; opacity: 15%">生命因何而沉睡...?</span>
        </div>
    </div>
</div>
</body>
</html>